.aboutMe{
    width: 100%;
    padding: 1rem;
    margin:0;
    color: $hlavni-barva;
    text-align: justify;

    &__photo-Ivan{
        width: 100%;
        height: auto;
        box-shadow: 5px 5px 6px #28254663;
    }
    &__photo{
        width: 100%;
        height: auto;
        box-shadow: 5px 6px 6px #28254663;
    }
    &__section{
        padding: 0.5rem 0;
        
        &-favicon{
            margin-right: .5rem;
        }
    }   
    &__nabidka{
        list-style: none;
        padding-left: 0;
    }
}

@media (min-width: 450px){
    .aboutMe{
        margin: auto;

        &__photo-Ivan{
            margin: 0 0 2rem 2rem;
            width: 45%;
            height: auto;
            float: right;
        }
        &-galery{
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 0.3rem
        }
        &__section{
            padding: 1.5rem 0;
        }
    }
}

@media (min-width: 1050px){
    .aboutMe{
        width: 80%;
        font-size: 1.2rem;
    
        &__photo-Ivan{
            width: 330px;
        }
        &__section{
            padding: 1rem 0;
            &-pozdrav{
                font-size: 1.7rem;
                font-weight: 600;
            }
        }
        &-galery{
            grid-template-columns: repeat(5, 1fr);
            margin: 2rem 0;
            gap: 1rem;
        }
    }
}

