.aboutMe{
    width: 100%;
    padding: 1rem;
    margin:0;
    color: $hlavni-barva;
    text-align: justify;

    &__photo-Ivan{
        width: 100%;
        height: auto;
    }
    &__photo{
        width: 100%;
        height: auto;
    }
    &__section{
        padding: 0.5rem 0;
    }   
}

@media (min-width: 450px){
    .aboutMe{
        margin: auto;

        &__photo-Ivan{
            margin: 0 0 2rem 2rem;
            width: 45%;
            height: auto;
            float: right;
        }
        &-galery{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 0.5rem
        }
        &__section{
            padding: 1.5rem 0;
        }
    }
}

@media (min-width: 1050px){
    .aboutMe{
        width: 80%;
        font-size: 1.2rem;
    
        &__photo-Ivan{
            width: 350px;
        }
        &__section{
            padding: 2.5rem 0;
            &-pozdrav{
                font-size: 2rem;
            }
        }
        &-galery{
            margin: 3rem 0;
            gap: 2rem;
        }
    }
}

