.hlavicka {
	background-color: $hlavni-barva;
    color: $bila-barva;
    display: flex;    
    justify-content:space-between;
    padding: 0 10rem;
    
    &__logo {
        padding: 1rem 0;
    }

    &__menu {
        display: flex;
        list-style: none;
    
        &__polozka {
            padding: 1rem 1.5rem;
            font-size: 1.5rem;
        }
        &__polozka a {            
            text-decoration: none;
            color: $bila-barva;
        }
        &__polozka a:hover,
        &__polozka a:focus{
            color: $bila-hover;
            font-weight: 600;
        }

    }
}


