.hlavicka{
	background-color: $hlavni-barva;
    color: $bila-barva;
        
    &__logo{
        padding-top: 0,5rem;
    }

    &__menu{
        list-style: none;
        padding-left: 1.7rem;
        margin-top: 0%;
       
        &__polozka a {            
            text-decoration: none;
            color: $bila-barva;
        }
        &__polozka a:hover,
        &__polozka a:focus{
            color: $bila-hover;
            font-weight: 600;
        }
    }
}

@media (min-width: 450px){
    .hlavicka{
        display: flex;
        justify-content:space-between;
        padding: 0 10rem;

        &__logo{
            padding: 1rem 0;
        }

        &__menu{
            display: flex;
            padding-top: 1rem;

            &__polozka{            
                padding: 1rem 1.5rem;
                font-size: 1.5rem;
            }
        }
    }
}
