.paticka{    
    background-color: $hlavni-barva;
    color: #ffffff;
    
    &__kontakty{
        list-style: none;      

        &__social{
            margin-left: 1rem;
            margin-top: 1.5rem;
        }
        &__polozka a{
            text-decoration: none;
            color: $bila-barva;
        }
    }
}

@media (min-width: 450px){
    .paticka{
       display: grid;
       grid-template-columns: (repeat(3, 1fr));
       margin: 0;       
       padding: 1rem;
    
       &__kontakty{
         padding-left: 0;
       }
        &__kontakty__social{
            text-align: center;
            margin-top:0;
        }
        &__kontakty__adrs{
            padding-left: 1.5rem;
        }
    }
}

@media (min-width: 1050px){
    .paticka {
        grid-template-columns: auto 1fr 1fr 1fr auto;

        &__kontakty__tel{
            grid-column: 2;
            padding-left: 32%;
        }    
        &__kontakty__social{
            grid-column: 3;
            text-align: center;
        }        
        &__kontakty__adrs{
            grid-column: 4;
            padding-left: 0;
        }
    }
}
