.paticka {
    background-color: $hlavni-barva;
    color: #ffffff;
    padding: 1rem 10rem;

    display: grid;
    grid-template-columns: (repeat(4, 1fr));
    
    &__kontakty__tel{
    grid-column: 2;
    }

    &__kontakty__adrs {
    grid-column: 3;
    }

    &__kontakty {
        list-style: none;
    
        &__polozka a {
            text-decoration: none;
            color: $bila-barva;
        }

    }

}




