<header class="hlavicka">

    <div class="hlavicka__logo">
        <a href="/">
            <img src="/obrazky/logo_dark_KIWA_2021_crop.png" width="250" height="auto" alt="logo" />
        </a>
    </div>
    
        <ul class="hlavicka__menu">
            <li class="hlavicka__menu__polozka">Home</li>
            <li class="hlavicka__menu__polozka">About Me</li>
            <li class="hlavicka__menu__polozka">Adventure</li>
            <li class="hlavicka__menu__polozka">Expedition</li>
            <li class="hlavicka__menu__polozka">Contact</li>
        </ul>

</header>
