<footer class="paticka">
<div class="paticla__kontakty__tel">
    <ul class="paticka__kontakty">
        <li class="paticka__kontakty__polozka"><span>&#9742;</span> UK: +44 (0) 7508189378</li>
        <li class="paticka__kontakty__polozka"><span>&#9742;</span> CZ: +420 603422657</li>
        <li class="paticka__kontakty__polozka"><span>&#64;</span> kiwa@kiwasailing.com</li>
    </il>
</div>
<div class= "paticka__kontakty__adrs">
    <ul class="paticka__kontakty">
        <li class="paticka__kontakty__polozka"><span>&#9993;</span> Suite LP47352</li> 
        <li class="paticka__kontakty__polozka">20-22 Wenlock Road </li>
        <li class="paticka__kontakty__polozka">London, N1 7GU </li>
            </ul>
    </ul>
</div>

</footer>