<footer class="paticka">

    <div class="paticka__kontakty__tel">
        <ul class="paticka__kontakty">
            <li class="paticka__kontakty__polozka"><span>&#9742;</span> <a href="tel:00447508189378">UK: +44 (0) 750 8189378</a></li>
            <li class="paticka__kontakty__polozka"><span>&#9742;</span> <a href="tel:00420603422657">CZ: +420 603422657</a></li>
            <li class="paticka__kontakty__polozka"><span>&#64;</span> 
            <a href="mailto:kiwa@kiwasailing.com">kiwa@kiwasailing.com</a></li>
        </ul>
    </div>

    <div class= "paticka__kontakty__social">
        <ul class="paticka__kontakty">
            <li class="contact__vypis-polozka"><a href="https://www.facebook.com/kiwasailing"><img src="/obrazky/ikony/FB_logo.png" alt="facebook" width="35"></a></li>
            <li class="contact__vypis-polozka"><a href="https://wa.me/447508189378"><img src="/obrazky/ikony/WA_logo.png" alt="whatsup" width="35"></a></li>
            <li class="contact__vypis-polozka">©2022 KIWASailing</li>
        </ul>
    </div>

    <div class= "paticka__kontakty__adrs">
        <ul class="paticka__kontakty">
            <li class="paticka__kontakty__polozka"><span>&#9993;</span> Suite LP47352</li> 
            <li class="paticka__kontakty__polozka">20-22 Wenlock Road </li>
            <li class="paticka__kontakty__polozka">London, N1 7GU </li>
        </ul>
    </div>

</footer>