.contact{
    padding: 1rem 0.5rem;
    color: $hlavni-barva;

    &__nadpis{
        margin-left: 1.5rem;
    }
    
    &__vypis-polozka{
        list-style: none;
        margin-left: -1rem;
    }
    
    &__vypis-polozka a{
            color: $hlavni-barva;
            text-decoration: none;
    }

}

@media (min-width: 450px){
    .contact{
        width: 1200px;
        margin: auto;
        padding: 1rem 0.5rem 10rem;
    
        &__nadpis{
            margin-left: 1.2rem;
        }

        &__vypis-polozka{
            padding-bottom: 0.5rem;
        }
    }
}
