.contact {
    width: 1200px;
    margin: auto;
    padding: 1rem 0.5rem 10rem;
    color: $hlavni-barva;
    
}

.contact__nadpis{
    margin-left: 2.1rem;
}

.contact__vypis-polozka{
    list-style: none;
    padding-bottom: 0.5rem;
}

.contact__vypis-polozka a{
    color: $hlavni-barva;
    text-decoration: none;
}