main {
    width: 980px;
    margin: auto;
    background-image: url("/obrazky/St Kilda.JPG");
    background-repeat: no-repeat;
    background-size: contain;
    
}

.central-logo {
    margin: 4rem 1rem 26rem;
}