main{
    width: 100%;
    margin: 0;
    background-image: url("/obrazky/St Kilda_trim.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}
.main__section {
    width: 96%;
    color: $bila-barva;
    border: 2px solid $bila-barva;
    border-radius: 4px;
    box-shadow: 5px 10px #28254663;
    padding: 0 0.5rem;
    margin: 0.5rem;
    text-align: center;

    &-obr{
        width: 95%;
        height: auto;
    }
    &-nadpis{
        font-size: 1.7rem;
        font-weight: 600;
        text-shadow: 2px 2px $hlavni-barva;
        margin: 0.5rem;
    }
    &-nadpis a{
        text-decoration: none;
        color: $bila-barva;
    }
    &-nadpis:hover{
        color: $bila-hover;
    }
    &-nadpis a:hover{
        color: $bila-hover;
    }
}
.central-logo{
    width: 70%;
    height: auto;
    margin: 0;
    padding: 1.5rem;
}

@media (min-width: 450px){
    main{width: 100%;
        margin: auto;
    }
    .main__section{
        width: 95%;

        &-obr{
            width: 100%;
            height: auto;
        }
        &-nadpis{
           font-size: 1.3rem;
        }
    }
    .main__cards{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }    
    .central-logo{
        width: 50%;
        height: auto;
        margin-bottom: 9rem;
        padding: 1.5rem;
    }
}

@media (min-width: 780px){
    main{width: 80%;
        background-size: cover;
        padding: 2rem;
    }
    .main__section{
        width: 95%;

        &-nadpis{
           font-size:2rem;
        }
        &-obr{
            width: 95%;
            height: auto;
        }
    }
    .main__cards{
        gap:2rem;
    }
    .central-logo{
        margin-bottom: 17rem;
      
    }
}

