html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

$hlavni-barva: #282546;
$bila-barva: #ffffff;
$bila-hover: #a4c8e0;


body{
	width: 100%;
	font-family: 'Poppins', sans-serif;
	margin: 0;
	display: grid;
	grid-template-rows: auto 1fr auto;
	
}

a{text-decoration: none;}

