---
layout: zakladni
---

<article class="aboutMe">
<!--
<h2 class="aboutMe-nadpis2">About me</h2>
-->
<section class="aboutMe__section">
<img class="aboutMe__photo-Ivan" src="/obrazky/Ivan3.jpg" alt="Ivan" width="320" height="570">
<!--
<p class="aboutMe__section-pozdrav">Ahoj,<br> 
jmenuji se Ivan Kiwa Černošek a budu Váš skipper.</p>
</section>
RYA YM ocean and cruising instructor-->

<section class="aboutMe__section">
<h3 class="aboutMe-nadpis3"></h3>

<p>Láska k vodě, moři a oceánu mě provází od dětství. Už jako malý kluk jsem měl možnost okukovat a obdivovat lodě všech typů a velikostí, ale plachetnice byla jasná volba. Bylo to vlastně takové logické vyústění a spojení všech mých sportovních aktivit, které mě životem provázely. 
</p>
</section>

<section class="aboutMe__section">
<h3 class="aboutMe-nadpis3"></h3>

<p> Od roku 2017 dělám jachting profesionálně, jako <em>RYA Yacht Master skipper a instruktor</em>. Mám rád dálkové, poznávací a dobrodružné plavby napříč oceány, ale i brouzdání středomořím. Obdivuju přírodu jak na vodě, tak na souši a rád vás za krásami světa vezmu sebou.
</p>
</section>

<section class="aboutMe__section">
<h3 class="aboutMe-nadpis3">Co nabízím</h3>
<ul class="aboutMe__nabidka">
    <li><img class="aboutMe__section-favicon" src="/obrazky/favicon.png" width="20" height="20">
    můžete si vybrat z mé nabídky plánovaných plaveb</li>
    <li><img class="aboutMe__section-favicon" src="/obrazky/favicon.png" width="20" height="20">
    vezmu vás na vzdálená místa, kam si sami netroufnete, dle vašeho přání</li>
    <li> <img class="aboutMe__section-favicon" src="/obrazky/favicon.png" width="20" height="20">
    kondiční plavby pro zdokonalení vašich jachtařských dovedností</li>
    <li><img class="aboutMe__section-favicon" src="/obrazky/favicon.png" width="20" height="20">
    možnost získat licenci Day skipper k vedení plachetnice od britské RYA ve Skotsku pod mým instruktorským vedením</li>
    <li><img class="aboutMe__section-favicon" src="/obrazky/favicon.png" width="20" height="20">
    team-building na lodi</li>
</ul>

Zajistím a připravím vše potřebné na míru dle vašich požadavků.

</section>

<div class="aboutMe-galery">
    <img class="aboutMe__photo" src="/obrazky/Scotland(2).jpg" alt="Scotland" width="250" heigh="200">
    <img class="aboutMe__photo" src="/obrazky/Greece (2).jpg" alt="Greece" width="250" heigh="200">
    <img class="aboutMe__photo" src="/obrazky/Greece.jpg" alt="Greece" width="250" heigh="200">
    <img class="aboutMe__photo" src="/obrazky/Etna.jpg" alt="Sicili" width="250" heigh="200">
    <img class="aboutMe__photo" src="/obrazky/CanaryI.jpg" alt="Canary" width="250" heigh="200">
</div>

</article>