---
layout: zakladni
---

<article class="aboutMe">
<h2 class="aboutMe-nadpis2">About me</h2>

<section class="aboutMe__section">
<img class="aboutMe__photo-Ivan" src="/obrazky/Ivan3.jpg" alt="Ivan" width="320" height="570">
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta, vitae! Recusandae cupiditate neque harum rerum dolore labore natus, atque velit laudantium iusto fuga nostrum cumque repellendus quod placeat ducimus vitae. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta, vitae! Recusandae cupiditate neque harum rerum dolore labore natus, atque velit laudantium iusto fuga nostrum cumque repellendus quod placeat ducimus vitae.</p>
</section>
<section class="aboutMe__section">
<h3 class="aboutMe-nadpis3">Why am I doing what I am doing?</h3>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta, vitae! Recusandae cupiditate neque harum rerum dolore labore natus, atque velit laudantium iusto fuga nostrum cumque repellendus quod placeat ducimus vitae. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta, vitae! Recusandae cupiditate neque harum rerum dolore labore natus, atque velit laudantium iusto fuga nostrum cumque repellendus quod placeat ducimus vitae.
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta, vitae! Recusandae cupiditate neque harum rerum dolore labore natus, atque velit laudantium iusto fuga nostrum cumque repellendus quod placeat ducimus vitae. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta, vitae! Recusandae cupiditate neque harum rerum dolore labore natus, atque velit laudantium iusto fuga nostrum cumque repellendus quod placeat ducimus vitae
</p>
</section>
<section class="aboutMe__section">
<h3 class="aboutMe-nadpis3">My direction</h3>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta, vitae! Recusandae cupiditate neque harum rerum dolore labore natus, atque velit laudantium iusto fuga nostrum cumque repellendus quod placeat ducimus vitae. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta, vitae! Recusandae cupiditate neque harum rerum dolore labore natus, atque velit laudantium iusto fuga nostrum cumque repellendus quod placeat ducimus vitae.</p>
<div class="aboutMe-galery">
    <img class="aboutMe__photo" src="/obrazky/Scotland(2).jpg" alt="Scotland" width="250" heigh="200">
    <img class="aboutMe__photo" src="/obrazky/Greece (2).jpg" alt="Greece" width="250" heigh="200">
    <img class="aboutMe__photo" src="/obrazky/Greece.jpg" alt="Greece" width="250" heigh="200">
</div>
</section>
</article>