---
layout: zakladni
---

<article class="adventure">
<!--
<h2 class="adventure__nadpis"> Adventure Sailing </h2>
-->
<p>
Come and sail with us this year! Below you can find our planned trips, yet stil more to come. For information do not hesistate to <a href="/contact/"><b>contact me</b></a>.</p>

<h3 class="adventure__podnadpis">Our Sailings planned for 2022</h3>

<div class="adventure__section-nazev">
    <img class="adventure__section-favicon" src="/obrazky/favicon.png" width="70" height="70">
    <div class="adventure__section-nazev__text">
        <h3 class="adventure__nadpis3">Single malt sailing trip </h3>
        <p class="adventure-termin"> 17.04. - 27.04.2022 / 690 GBP per person</p>
    </div>
</div>
<section class="adventure__section">
<img class="adventure__section-photo" src="/obrazky/Scotland (1).jpg" alt="Scotland" width="350" height="220">
<div class="adventure__section-text">
<p class="adventure__section-text">
<strong>
West coast of Scotland, whisky distilleries and sailing. It is a unique opportunity to have great time and lot of fun. Let's explore rough but gorgeous Scottish nature and enjoy this trip with KIWA Sailing and skipper Ivan on board of S/Y Storm wind (Elan 43).</strong></p>
<p>We will sail the following route:</p>
<p> Largs, Ballycastle North Oreland (Giant coast way), Rathlin, Islay - Port Elen (distillery path Laproaigh, Lagavulin, Ardbeg), Jura(distillery), Gigha, Campbeltown (Glen Scotia, Springbank distilleries), Aran - Lochranza (distillery Aran), Tarbert, Largs</p>
<!--
<p>
<a href="https://visitdistillery.com/">visitdistillery.com</a> / 
<a href="https://visitscotland.com/">visitscotland.com</a> 
</p>
<p>Option: Crinan canal (not included in the price!!!)</p>

<p>The route could be adapted to the weather and the sea conditions and the special wishes of the crimew</p>

<p>Date: 17.04. - 27.04.2022 from marina LARGS, Irvine Road, Largs KA30 8EZ</p>

<p>Price: 690,- GBP / person (max 6 persons)</p>
<p>Price include: boat, skipper, daily meal on board, fuel</p>
<p>Not included in the price: Marina charges out of Largs, Crinan canal, travel expenses to and out of boat, distilleries entry fee</p>

<p>Skipper: Ivan Kiwa Cernosek / RYA YM ocean / RYA cruising instructor </p>
-->
</p>
<button class="adventure__section-button">
<a href="/obrazky/SingleMalt2.jpg" alt="Single Malt">More Info</a></button>
</div>
</section>

<hr>

<div class="adventure__section-nazev">
    <img class="adventure__section-favicon" src="/obrazky/favicon.png" width="70" height="70">
    <div class="adventure__section-nazev__text">
        <h3 class="adventure__nadpis3">Canary Islands</h3>
        <p class="adventure-termin">25.01. - 04.02.2022 / 890 EUR per person</p>
        <p class="adventure-termin">05.03. - 15.03.2022 / 890 EUR per person</p>
    </div>
</div>
<section class="adventure__section">
<img class="adventure__section-photo" src="/obrazky/tl.jpg" alt="Canary" width="350" height="220">
<div class="adventure__section-text">
<p class="adventure__section-text">
Let the winter out of your mind and come to enjoy an exciting sailing trips round the Canary islands with us.</p>
<p>Tenerife - Gran Canaria - Fuerteventura - Lanzarote </p> 
<button class="adventure__section-button">
<a href="/obrazky/Canary.jpg">More Info</a></button>
</div>
</section>

<hr>

<div class="adventure__section-nazev">
    <img class="adventure__section-favicon" src="/obrazky/favicon.png" width="70" height="70">
    <div class="adventure__section-nazev__text">
        <h3 class="adventure__nadpis3">La belleza dei Vulcani</h3>
        <p class="adventure-termin">25.05 - 05.06.2022 / 890 EUR per person</p>
    </div>
</div>
<section class="adventure__section">
<img class="adventure__section-photo" src="/obrazky/Isla Vulcano.jpg" alt="Sicili" width="350" height="220">
<div class="adventure__section-text">
<p class="adventure__section-text">
Sailing from the western tip of Sicily through the Aeolian Islands and Stromboli and further through the Strait of Messina to Syracuse in the southeast, with stops on the islands and on the coast.</p>
<button class="adventure__section-button">
<a href="/obrazky/Sicili.jpg">More Info</a></button>
</div>
</section>

</article>