---
layout: zakladni
---

<article class="adventure">
<!--
<h2 class="adventure__nadpis"> Adventure Sailing </h2>
-->
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia reprehenderit quis fugit aperiam saepe optio dolorem cupiditate officia tempore officiis maiores, impedit exercitationem dignissimos! Consequatur in quaerat dignissimos libero hic!</p>

<h3 class="adventure__podnadpis">Our Sailings planned for 2022</h3>

<div class="adventure__section-nazev">
    <img class="adventure__section-favicon" src="/obrazky/favicon.png" width="70" height="70">
    <div class="adventure__section-nazev__text">
        <h3 class="adventure__nadpis3">Single malt sailing trip </h3>
        <p class="adventure-termin"> 17.04. - 27.04.2022</p>
    </div>
</div>
<section class="adventure__section">
<img class="adventure__section-photo" src="/obrazky/Scotland (1).jpg" alt="Scotland" width="350" height="220">
<div class="adventure__section-text">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, nostrum a exercitationem reprehenderit sit cumque magni ducimus? Id, alias repellendus eveniet delectus laborum facilis. Alias veritatis atque recusandae incidunt fugiat.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, nostrum a exercitationem reprehenderit sit cumque magni ducimus? Id, alias repellendus eveniet delectus laborum facilis. Alias veritatis atque recusandae incidunt fugiat.</p>
<button class="adventure__section-button">More Info</button>
</div>
</section>

<hr>

<div class="adventure__section-nazev">
    <img class="adventure__section-favicon" src="/obrazky/favicon.png" width="70" height="70">
    <div class="adventure__section-nazev__text">
        <h3 class="adventure__nadpis3">Canary Islands</h3>
        <p class="adventure-termin">25.01. - 04.02.2022</p>
        <p class="adventure-termin">05.03. - 15.03.2022</p>
    </div>
</div>
<section class="adventure__section">
<img class="adventure__section-photo" src="/obrazky/zinah-insignia-Kzd9UqhaMjU-unsplash.jpg" alt="Canary" width="350" height="220">
<div class="adventure__section-text">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, nostrum a exercitationem reprehenderit sit cumque magni ducimus? Id, alias repellendus eveniet delectus laborum facilis. Alias veritatis atque recusandae incidunt fugiat.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, nostrum a exercitationem reprehenderit sit cumque magni ducimus? Id, alias repellendus eveniet delectus laborum facilis. Alias veritatis atque recusandae incidunt fugiat.</p>
<button class="adventure__section-button">More Info</button>
</div>
</section>

<hr>

<div class="adventure__section-nazev">
    <img class="adventure__section-favicon" src="/obrazky/favicon.png" width="70" height="70">
    <div class="adventure__section-nazev__text">
        <h3 class="adventure__nadpis3">La belleza dei Vulcani</h3>
        <p class="adventure-termin">25.05 - 05.06.2022</p>
    </div>
</div>
<section class="adventure__section">
<img class="adventure__section-photo" src="/obrazky/maia-crimew-l2MLF4wGS78-unsplash.jpg" alt="Sicili" width="350" height="220">
<div class="adventure__section-text">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, nostrum a exercitationem reprehenderit sit cumque magni ducimus? Id, alias repellendus eveniet delectus laborum facilis. Alias veritatis atque recusandae incidunt fugiat.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, nostrum a exercitationem reprehenderit sit cumque magni ducimus? Id, alias repellendus eveniet delectus laborum facilis. Alias veritatis atque recusandae incidunt fugiat.</p>
<button class="adventure__section-button">More Info</button>
</div>
</section>

</article>