---
layout: zakladni
---

<article>

<h2>You can get in touch with me: </h2>

        <ul class="paticka__kontakty">
            <li class="paticka__kontakty__polozka"><span>&#9742;</span> <a href="tel:00447508189378">UK: +44 (0) 750 8189378</a></li>
            <li class="paticka__kontakty__polozka"><span>&#9742;</span> <a href="tel:00420603422657">CZ: +420 603422657</a></li>
            <li class="paticka__kontakty__polozka"><span>&#64;</span> 
            <a href="mailto:kiwa@kiwasailing.com">kiwa@kiwasailing.com</a></li>
        </ul>


        <ul class="paticka__kontakty">
            <li class="paticka__kontakty__polozka"><span>&#9993;</span> Suite LP47352</li> 
            <li class="paticka__kontakty__polozka">20-22 Wenlock Road </li>
            <li class="paticka__kontakty__polozka">London, N1 7GU </li>
        </ul>
</article>