---
layout: zakladni
---

<article class="contact">

<h2 class="contact__nadpis">You can get in touch with me: </h2>

        <ul class="contact__vypis">
            <li class="contact__vypis-polozka"><a href="https://www.facebook.com/kiwasailing"><img src="/obrazky/ikony/FB_logo.png" alt="facebook" width="20"></a></li>
            <li class="contact__vypis-polozka"><a href="https://www.facebook.com/kiwasailing">www.facebook.com/kiwasailing</a></li>
            <li class="contact__vypis-polozka"><a href="https://wa.me/447508189378"><img src="/obrazky/ikony/WA_logo.png" alt="whatsup" width="20"></a></li>
            <li class="contact__vypis-polozka"><a href="https://wa.me/447508189378">+44 75081 89378</a></li>
            
            <li class="contact__vypis-polozka"><span>&#9742;</span></li>
            <li class="contact__vypis-polozka"><a href="tel:00447508189378">UK: +44 (0) 750 8189378</a></li>
            <li class="contact__vypis-polozka"><a href="tel:00420603422657">CZ: +420 603422657</a></li>
            <li class="contact__vypis-polozka"><span>&#64;</span></li> 
            <li class="contact__vypis-polozka"><a href="mailto:kiwa@kiwasailing.com">kiwa@kiwasailing.com</a></li>
            <li class="contact__vypis-polozka"><span>&#9993;</span></li>
            <li class="contact__vypis-polozka"> Suite LP47352</li> 
            <li class="contact__vypis-polozka">20-22 Wenlock Road </li>
            <li class="contact__vypis-polozka">London, N1 7GU </li>
        </ul>

<div class="contact__form">



</div>

</article>