---
layout: zakladni
---

<article class="expedition">

<p class="expedition-uvod"> Tailor made expeditions. </br>
For information do not hesistate to <a href="/contact/"><b>contact me</b></a>.</p>

        <img class="expedition__section-photo" src="/obrazky/St. Kilda III.jpg" alt="St Kilda" width="300" height="220">

<section class="expedition__section">
    <div class="expedition__section-section">

        <div class="expedition__section-nazev">
            <img class="expedition__section-favicon" src="/obrazky/favicon.png" width="70" height="70">
            <h3 class="expedition__nadpis3"> St Kilda </h3>
        </div>

        <p class="expedition__section-text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto ipsa vitae perferendis et laboriosam, quia eos unde magnam corrupti distinctio quas nesciunt nisi ex facilis qui voluptatem dolores assumenda maiores!
        Optio explicabo dicta facere minima voluptas eligendi hic tenetur sequi, provident sit dolorum dolorem quo temporibus consequuntur quas repudiandae veritatis sint expedita, deserunt commodi placeat vel ducimus! Odio, deleniti voluptatem!
        Laboriosam explicabo aut fugit necessitatibus odit commodi ex nesciunt inventore ad aspernatur reprehenderit eius unde, quod illo officiis quos nihil repellat eum! Quasi rerum alias reiciendis ad magnam, dolorem officiis!
        </p>
        <button class="expedition__section-button"><a href="/contact/">More Info</a></button>
    </div>
    
        <img class="expedition__section-sideGallery-photo"
        src="/obrazky/Orkney.jpg" alt="Orkney" width="250" height="100">
                
        <img class="expedition__section-sideGallery-photo"
        src="/obrazky/St. Kilda II_crop.jpg" alt="St Kilda" width="250" height="100">
        
        <img class="expedition__section-sideGallery-photo"
        src="/obrazky/Scotland Cana.jpg" alt="Cana" width="250" height="100">
</section>

<hr>

<img class="expedition__section-photo" src="/obrazky/Gronsko2.jpg" alt="Greenland" width="300" height="220">

<section class="expedition__section">
<div class="expedition__section-section">
    <div class="expedition__section-nazev">
        <img class="expedition__section-favicon" src="/obrazky/favicon.png" width="70" height="70">
        <h3 class="expedition__nadpis3"> Greenland </h3>
    </div>

    <p class="expedition__section-text">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto ipsa vitae perferendis et laboriosam, quia eos unde magnam corrupti distinctio quas nesciunt nisi ex facilis qui voluptatem dolores assumenda maiores!
    Optio explicabo dicta facere minima voluptas eligendi hic tenetur sequi, provident sit dolorum dolorem quo temporibus consequuntur quas repudiandae veritatis sint expedita, deserunt commodi placeat vel ducimus! Odio, deleniti voluptatem!
    Laboriosam explicabo aut fugit necessitatibus odit commodi ex nesciunt inventore ad aspernatur reprehenderit eius unde, quod illo officiis quos nihil repellat eum! Quasi rerum alias reiciendis ad magnam, dolorem officiis!
    </p>
    <button class="expedition__section-button"><a href="/contact/">More Info</a></button>
</div>

<img class="expedition__section-sideGallery-photoG" src="/obrazky/greenlandI (1).jpg" alt="Greenland" width="250" height="100">

<img class="expedition__section-sideGallery-photoG" src="/obrazky/greenlandia_2.jpg" alt="Greenland" width="250" height="100">

<img class="expedition__section-sideGallery-photoG" src="/obrazky/greenlandia_3.jpg" alt="Greenland" width="250" height="100">
</section>

</article>