---
layout: zakladni
---
<main>
<img class="central-logo" src="/obrazky/logo transparent KIWA_2021_std.png" width="950" height="260" alt="logo">

<div class="main__cards">
<section class="main__section">
    <h2 class="main__section-nadpis">Adventure Sailings</h2>
    <img class="main__section-obr" src="/obrazky/Sunset.jpg" width="200" height="150" alt="Sunset">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum illo velit laudantium perspiciatis praesentium voluptatem, inventore neque cupiditate maiores quos! </p>
</section>
<section class="main__section">
    <h2 class="main__section-nadpis">Expedition Sailings</h2>
    <img class="main__section-obr" src="/obrazky/Greenland.jpg" width="200" height="150" alt="Greenland">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum illo velit laudantium perspiciatis praesentium voluptatem, inventore neque cupiditate maiores quos! </p>
</section>
<section class="main__section">
    <h2 class="main__section-nadpis"><a href="/aboutMe/">About Me</a></h2>
    <a href="/aboutMe/"><img class="main__section-obr" src="/obrazky/Ivan2.jpg" width="200" height="150" alt="Ivan"></a>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum illo velit laudantium perspiciatis praesentium voluptatem, inventore neque cupiditate maiores quos! </p>
</section>

</div>
</main>