---
layout: zakladni
---
<main>
<img class="central-logo" src="/obrazky/logo transparent KIWA_2021_std.png" width="950" height="260" alt="logo">

<div class="main__cards">
<section class="main__section">
    <h2 class="main__section-nadpis"><a href="/adventure/">Dobrodružství</a></h2>
    <a href="/adventure/"><img class="main__section-obr" src="/obrazky/Sunset.jpg" width="200" height="150" alt="Sunset"></a>
    <p>
    Můžete si vybrat z mé nabídky plánovaných plaveb; 
    vezmu vás na vzdálená místa kam si sami netroufnete dle vašeho přání; 
    kondiční plavby pro zdokonalení vašich jachtařských dovedností</p>
</section>
<section class="main__section">
    <h2 class="main__section-nadpis"><a href="/expedition/">Expedice</a></h2>
    <img class="main__section-obr" src="/obrazky/Greenland.jpg" width="200" height="150" alt="Greenland">
    <p>Mám rád dálkové, poznávací a dobrodružné plavby napříč oceány, ale i brouzdání středomořím. Obdivuju přírodu jak na vodě, tak na souši a rád vás za krásami světa vezmu sebou. </p>
</section>
<section class="main__section">
    <h2 class="main__section-nadpis"><a href="/aboutMe/">O mně</a></h2>
    <a href="/aboutMe/"><img class="main__section-obr" src="/obrazky/Ivan2.jpg" width="200" height="150" alt="Ivan"></a>
    <p>Ahoj, jmenuji se Ivan Kiwa Černošek a budu Váš skipper. 
    Od roku 2017 dělám jachting profesionálně, jako RYA Yacht Master skipper a instruktor. 
    </p>
</section>

</div>
</main>